@import '../../assets/styles/variables.scss';


.faq {
    background: rgb(66, 161, 226);

    &__inner {
        @include sectionPadding;

        .accordion {
            cursor: pointer;
            border-radius: 17px;

            background: rgb(255, 255, 255);
            margin-bottom: 24px;

            &__summary {
                position: relative;
                transition: background-color 0.3s;
                list-style: none;
                appearance: none;
                padding: 22px 48px;

                color: rgb(23, 23, 23);
                font-family: $main-fonts;
                @include fsz18;
                font-weight: 500;
                line-height: 22px;

            }

            &__content {
                padding: 12px 28px;
                color: rgb(23, 23, 23);
                font-family: $main-fonts;
                @include fsz18;
                font-weight: 500;
                line-height: 22px;
            }



            &__icon {
                cursor: pointer;

                transition: transform 0.3s;

                &-arrow {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    width: 24px;
                    height: 24px;
                    background: url('./images/icons/arrow-down.svg') center/contain no-repeat;
                    z-index: 1;
                    transform: translate(-50%, -50%);
                }


            }

            &[open] .accordion__icon-arrow {
                transform: translate(-50%, -50%) rotate(-180deg);
            }


            &__text {
                color: rgb(0, 0, 0);
                font-family: $main-fonts;

                @include fsz18;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: $main-fonts;
        font-size: clamp(20px, 4vw, 36px);
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
        text-align: center;
        margin-bottom: 30px;
    }

    &__support {
        color: rgb(255, 255, 255);
        font-family: $main-fonts;
        @include fsz20;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:768px) {
    .faq {
        &__title {
            margin-bottom: 15px;
        }

        .accordion {
            &__summary {
                padding: 10px 40px 10px 20px;
            }

            &__icon {

                &-arrow {
                    right: 5px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}