@import '../../assets/styles/variables.scss';


.details {
    &__inner {
        @include sectionPadding;
    }

    &__options {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

    }

    &__card {
        width: 60%;
        border-radius: 24px;
        background: rgb(255, 255, 255);
    }

    &__order {
        width: 40%;
        border-radius: 24px;
        background: rgb(255, 255, 255);
        padding: 28px 35px;

        h3 {
            color: rgb(23, 23, 23);
            @include fsz20;
            font-weight: 600;
            line-height: 28px;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;

        span {
            color: rgb(23, 23, 23);
            @include fsz20;
            font-weight: 400;
            line-height: 28px;
        }

        p {
            color: rgb(23, 23, 23);
            @include fsz20;
            font-weight: 600;
            line-height: 28px;
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        gap: 10px;

        span {
            color: rgb(23, 23, 23);
            @include fsz20;
            font-weight: 400;
            line-height: 28px;
        }

        p {
            color: rgb(23, 23, 23);
            @include fsz25;
            font-weight: 600;
            line-height: 28px;
        }
    }

    &__ordering {
        padding: 50px;
        border-radius: 24px;

        background: rgb(255, 255, 255);
        margin-bottom: 50px;
    }

    &__reviews {
        padding: 50px;
        border-radius: 24px;

        background: rgb(255, 255, 255);
        margin-bottom: 60px;
    }
}

@media (max-width: 990px) {
    .details {

        &__options {
            flex-wrap: wrap;
        }

        &__card,
        &__order {
            width: 100%;
        }

        &__order-wrapper {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__price {
            margin: auto auto;
        }

        &__order {
            h3 {
                margin-bottom: 15px;
            }
        }

        &__wrapper {
            margin-bottom: 10px;
            width: calc(50% - 20px);
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .details {
        &__reviews {
            padding: 20px;
        }

        &__order {
            padding: 20px;

            h3 {
                margin-bottom: 10px;
            }
        }

        &__ordering {
            padding: 20px;
            margin-bottom: 20px;
        }


    }
}