.year-filter {
    margin-top: 16px;
    max-height: 200px;
    height: max-content;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }



    &__item {
        margin-bottom: 4px;

        label {
            display: block;
            cursor: pointer;
            color: rgb(23, 23, 23);
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;

            input {
                margin-right: 8px;
            }
        }
    }
}