@import '../../assets/styles/variables.scss';

.main {
    background: rgb(246, 246, 249);
    padding-top: 75px;

    &__top_wrapper {
        background: rgb(222, 241, 250);
        padding: 85px 0 58px;
    }

    &__buses {
        @include sectionPadding;
    }

    &__title {
        color: rgb(23, 23, 23);
        @include fsz22;
        font-weight: 400;
        line-height: 27px;
        margin: 0 0 16px 20px;

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    &__more {
        margin-top: 15px;
        text-align: center;
        cursor: pointer;

        img {
            margin: 0 auto;
        }

    }
}

.filter {
    background: rgb(66, 161, 226);

    &__inner {
        @include sectionPadding;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        padding-bottom: 10px;
        border-bottom: 4px solid transparent;

        &.active {
            border-bottom: 4px solid #fff;
        }
    }

    &__name {
        color: rgb(255, 255, 255);
        font-family: $main-fonts;
        @include fsz20;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
}

@media (max-width:990px) {
    .main {
        &__top_wrapper {
            padding: 25px 0 18px;
        }
    }
}

@media (max-width:575px) {
    .main {
        padding-top: 55px;
    }
}