@import '../../assets/styles/variables.scss';

.main {
    background: rgb(246, 246, 249);
    padding-top: 75px;

    &__top_wrapper {
        background: rgb(222, 241, 250);
        height: 313px;
        padding: 85px 0;
    }

    &__buses {
        padding: 20px 100px;
    }

    &__title {
        color: rgb(23, 23, 23);
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        margin-left: 100px;
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    &__more {
        margin-top: 15px;
        text-align: center;

        img {
            margin: 0 auto;
        }

    }
}

.filter {
    background: rgb(66, 161, 226);

    &__inner {
        padding: 15px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        padding-bottom: 10px;
        border-bottom: 4px solid transparent;

        &.active {
            border-bottom: 4px solid #fff;
        }
    }

    &__name {
        color: rgb(255, 255, 255);
        font-family: $main-fonts;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
}