@import '../../assets/styles/variables.scss';


.excursions {

    &__inner {
        padding: 60px 100px;
    }

    &__title {
        color: rgb(23, 23, 23);
        font-family: $main-fonts;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        margin: 0 0 16px 20px;
    }


}