@import './assets/styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;

}

body {
  font-family: $main-fonts;
  @include fsz18;
  color: $main-dark;
  line-height: 22px;
}

.container {
  width: 1366px;
  max-width: 100%;
  margin: 0 auto;

}

.road {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  &__map {
    color: rgb(98, 98, 98);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;

    &.active {
      color: rgb(11, 11, 11);
      font-weight: 700;

    }
  }
}